.multiselect{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 7px;
    height: 47px;
    width: 270px;
    border: 1px solid #d9d9d9;
    min-width: 220px;
}
.multiselect-foot{
    padding-top: 17px;
    position: relative;
}
.multiselect-foot:after{
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: calc(100% + 40px);
    height: 1px;
    margin-left: -20px;
    background: #d9d9d9;
}
.multiselect-foot button{
    height: 34px !important;
    padding: 0 14px !important;
}
.multiselect .multiselect-check-list{
    padding: 0 20px 65px 20px;
    border-top: 1px solid #d9d9d9;
}
.multiselect.multiselect-width-auto{
    width: auto;
}
.multiselect.multiselect-width-100{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #4a4a4c;
}
.multiselect.multiselect-width-100:hover{
    z-index: 10;
}
.multiselect.multiselect-width-100 .multiselect-check-value, .multiselect-check-close{
    height: 34px;
    line-height: 34px;
    padding: 0 34px 0 10px;
}
.multiselect.multiselect-width-100 .multiselect-check-list{
    top: 32px;
    height: 274px;
}
.multiselect.multiselect-width-100 .multiselect-check-list li{
    line-height: 18px;
}
.multiselect:hover{
    -webkit-box-shadow:0px 0px 13px rgba(0,0,0,.06); -moz-box-shadow:0px 0px 13px rgba(0,0,0,.06); box-shadow:0px 0px 13px rgba(0,0,0,.06);
}
.multiselect.act{
    -webkit-box-shadow:0px 0px 13px rgba(0,0,0,.06); -moz-box-shadow:0px 0px 13px rgba(0,0,0,.06); box-shadow:0px 0px 13px rgba(0,0,0,.06);
}
.multiselect .multiselect-check-value, .multiselect-check-close{
    font-family: "robotoregular",sans-serif,arial,helvetica;
    font-size: 14px;
    padding: 0 34px 0 14px;
    line-height: 47px;
    box-sizing: border-box;
    padding-right: 32px;
    cursor: pointer;
}
.multiselect .multiselect-check-value:after{
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='5px'><path fill-rule='evenodd'  fill='rgb(117, 117, 117)' d='M9.998,0.004 L5.000,4.998 L0.002,0.004 '/></svg>") no-repeat center center;
    width: 10px;
    height: 5px;
}
.multiselect .multiselect-check-close:after{
    content: '';
    position: absolute;
    right: 9px;
    top: 42%;
    margin-top: -3px;
    background: url(/multiselect/images/close_01.svg) no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); -webkit-transform:rotate(180deg);
}
.multiselect .multiselect-check-list{
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: none;
    width: calc(100% + 2px);
    padding: 0 20px 65px 20px;
    position: absolute;
    top: 45px;
    left: -1px;
    z-index: 1;
    height: 380px;
    display: none;
    -webkit-box-shadow:0px 4px 13px rgba(0,0,0,.06); -moz-box-shadow:0px 4px 13px rgba(0,0,0,.06); box-shadow:0px 4px 13px rgba(0,0,0,.06);
}
.multiselect .multiselect-check-list ul{
    list-style: none;
}
.multiselect .multiselect-check-list li{
    font-family: "robotolight",arial,verdana,sans-serif,helvetica;
    margin: 14px 0;
    float: left;
    clear: both;
}
.multiselect .multiselect-checkbox-label{
    display: block;
    margin-right: 0;
}
.multiselect.multiselect-click .multiselect-check-list{
    height: auto;
    padding: 0;
}
.multiselect.multiselect-click .multiselect-check-list-scroll{
    max-height: 280px;
    padding: 0 0 20px;
}
.multiselect.multiselect-click li{
    margin: 0;
}
.multiselect.multiselect-click li .multiselect-checkbox-label .multiselecticon{
    top: 0;
    vertical-align: top;
}
.multiselect.multiselect-click li .multiselect-checkbox-label{
    font-family: "robotolight",arial,verdana,sans-serif,helvetica !important;
    font-size: 13px !important;
    display: block;
    top: 0;
}
.multiselect.multiselect-click li .multiselect-checkbox-label:hover{
    background: #f7f7f7;
}
.multiselect.multiselect-click .multiselect-checkbox-label .multiselecticon:before{
    top: 0;
}
.multiselect.multiselect-click .multiselect-checkbox-label{
    display: block;
    padding: 9px 20px;
}
.multiselect-check-list-fixed-height{
    padding: 0 20px 66px 20px!important;
}
.multiselect-check-list {
    z-index: 10;
}
.multiselect.multiselect-width-100 .multiselect-check-value, .multiselect.multiselect-width-100 .multiselect-check-close {
    height: 34px;
    line-height: 34px;
    padding: 0 34px 0 10px;
}



.btn-block-reset, .btn-block-apply {
    float: left;
}